<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header" id="backImg"  [ngStyle]="{'background-image': 'url(' + image + ')'}" style="background-size: 100%; height: 300px; opacity: 0.5px">
      <button type="button" class="close" (click)="close()" >&times;</button>
      <b style="margin-top: 200px; color: #f9f9f9; font-style: oblique; font-stretch: extra-condensed; font-size: 50px;">{{hotelData.hotelName}}</b><br>
      <img src="../../../assets/1495574585-map-location-solid-style-21_84553.png" height="60px" width="70px"/>
    </div>
    <div class="modal-body">
      <div class="panel-default">
        <div class="panel-body">
        </div>
      </div>
    </div>
  </div>
</div>
<!---->
<!--{imgId: 47, hotelId: 8, -->
<!--image: "uploads\img1524545236890holiday-inn-express-and-suites-desoto-4186278663-4x3.jpg",-->
<!--imageName: "img1524545236890holiday-inn-express-and-suites-desoto-4186278663-4x3.jpg", isDelete: 0, …}-->
