<app-user-header></app-user-header>
<div class="col-md-6">
  <h1 align="left">{{result?.hotelName}}</h1>
  <div id="container">
    <div
      ng2-carouselamos
      class="slides-wrapper"
      [items]="items"
      [width]="900"
      [$prev]="prev"
      [$next]="next"
      [$item]="item"
    >
    </div>
    <ng-template #prev>
      <img src="../../../assets/arrow_left_48px-128.png" height="50" width="50"/>
    </ng-template>
    <ng-template #next>
      <img src="../../../assets/images.png" height="50" width="50"/>
    </ng-template>
    <ng-template #item let-item let-i="index">

      <div class="items">
        <img src="http://localhost:3003/static/{{item.imageName}}" width="900" height="auto"/>
      </div>
    </ng-template>
  </div>
</div>
