<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()" >&times;</button>
      <h4 class="modal-title" align="center">{{title || 'Add Hotel'}}</h4>
    </div>
    <div class="modal-body" >
      <div class="panel-default">
        <div class="panel-body">
          <form #addHotelForm="ngForm" (ngSubmit)="onAddHotel(addHotelForm)">
            <div class="form-group">
              <label>Place Name:</label>
              <input type="text"
                     name="placeName"
                     [value]="placeName"
                     readonly
                     class="form-control">
            </div>
            <div class="form-group">
              <label>Hotel Name:</label>
              <input type="text"
                     name="hotelName"
                     required
                     ngModel
                     #hotelName = "ngModel"
                     pattern="[A-z]*"
                     class="form-control">
              <div *ngIf="hotelName.invalid && (hotelName.dirty || hotelName.touched)"
                   class="alert alert-danger">
                <div *ngIf="hotelName.errors.required">
                  Hotel Name is required
                </div>
                <div *ngIf="hotelName.errors.pattern">
                  Please Enter Valid Hotel Name
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Address</label>
              <textarea
                        name="hotelAdd"
                        required
                        ngModel
                        #hotelAdd = "ngModel"
                        class="form-control"
                        >
                <div *ngIf="hotelAdd.invalid && (hotelAdd.dirty || hotelAdd.touched)"
                                   class="alert alert-danger">
                  Hotel Address is required
                </div>
                </textarea>
            </div>
            <div class="form-group">
              <label>Contact Number</label>
              <input type="text"
                     name="contact"
                     required
                     ngModel
                     #contact = "ngModel"
                     placeholder="9998882001"
                     class="form-control"
                     pattern="[7|8|9][0-9]{9}">
              <!--<a (click)="removeValidation(contact)">help<span class="glyphicon glyphicon-info-sign" style="margin-left: 510px"></span></a>-->
              <div *ngIf="contact.invalid && (contact.dirty || contact.touched)"
                   class="alert alert-danger">
                <div *ngIf="contact.errors.required">
                  Contact no is required.
                </div>
                <div *ngIf="contact.errors.pattern">
                  Please Enter Valid Contact no.
                </div>
              </div>
              <div class="form-group">
                <label>State</label>
                <select name="state" class="form-control" #state (change)="getCity(state.value)" [(ngModel)]="state1">
                  <option *ngFor="let s of states" [value]="s.state">{{s.state}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>City</label>
                <select name="city" class="form-control" #city [(ngModel)]="city1">
                  <option *ngFor="let c of cities" [value]="c.city">{{c.city}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Services:</label>
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems"
                                      [settings]="dropdownSettings"
                                      name="addServices"
                >
                </angular2-multiselect>
              </div>
              <div class="form-group">
                <label>Hotel Type</label>
                <select name="hotelType" class="form-control" #hotelType [(ngModel)]="type">
                  <option value="Seven Star">Seven Star</option>
                  <option value="Five Star">Five Star</option>
                  <option value="Three Star">Three Star</option>
                </select>
              </div>
              <div class="form-group">
                <label>Total no of Rooms</label>
                <input type="text"
                       name="totRoom"
                       required
                       ngModel
                       #totRoom = "ngModel"
                       class="form-control"
                       pattern="[1-9][0-9]*"
                >
                <div *ngIf="totRoom.invalid && (totRoom.dirty || totRoom.touched)"
                     class="alert alert-danger">
                  <div *ngIf="totRoom.errors.required">
                    Total no of Rooms is required.
                  </div>
                  <div *ngIf="totRoom.errors.pattern">
                    Please Enter Number.
                  </div>
                </div>
              </div>
            </div>
            <button class="btn btn-success btn-block" type="submit" [disabled]="addHotelForm.invalid">Next</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
