<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()" >&times;</button>
      <h4 class="modal-title" align="center">{{title }}</h4>
    </div>
    <div class="modal-body">
      <div class="panel-default">
        <div class="panel-body">
          <form #addRoomForm="ngForm" (ngSubmit)="onAddRoom(addRoomForm)">
            <div class="form-group">
              <label>Hotel Name:</label>
              <input type="text"
                     name="hotelName"
                     [value]="hotelName"
                     readonly
                     class="form-control">
            </div>

            <div class="form-group">
                <label>Room Type</label>
                <select name="roomType" class="form-control" [(ngModel)]="roomType">
                  <option value="Premier Room">Premier Room</option>
                  <option value="Deluxe Room">Deluxe Room</option>
                  <option value="Double Room">Double Room</option>
                  <option value="Home Room">Home Room</option>
                </select>
              </div>
              <div class="form-group tooltip1">
                <label>Rate</label>
                <input type="text"
                       name="rate"
                       required
                       ngModel
                       #rate = "ngModel"
                       class="form-control"
                       pattern="[1-9][0-9]*"
                >
                <div *ngIf="rate.invalid"
                     class="tooltiptext">
                  <div *ngIf="rate.errors.required">
                    Rate is required.
                  </div>
                  <div *ngIf="rate.errors.pattern">
                    wrong input.
                  </div>
                </div>
              </div>
            <div class="form-group">
              <label>Add Image</label>
              <input  name="roomImg" type="file" (change)="fileChangeEvent1($event)" class="form-control" placeholder="Upload a room image"  required/>
            </div>
            <button class="btn btn-success btn-block" type="submit" [disabled]="addRoomForm.invalid">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
