<div class="row">
  <div class="container-fluid">
    <div class="col-md-3" *ngFor="let data of result">
      <div class="card" style="border-radius: 2%; border: 1px solid #bababa">
        <a  [routerLink]="['/detail', data.hotelId]"><img src="http://localhost:3003/static/{{data.imageName}}" class="img-rounded card-img-top" /><br></a>
        <div class="card-body">
          <h4 class="card-title" style="margin-left: 10px">{{data.hotelName}}</h4>
          <p class="card-text"></p>
          <a class="btn btn-primary" style="margin: 10px; border: none; font-size: 20px" [routerLink]="['/detail', data.hotelId]">Book Now</a>
        </div>
    </div><br><br>
  </div>
  </div>
</div>
