<app-header *ngIf="apiService.token != null"></app-header>
<div class="container-fluid">
  <div class="row content">
    <app-left-panel *ngIf="apiService.token != null"></app-left-panel>
    <div class="col-sm-9">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="panel-default">
            <div class="panel-header">
              <h3 align="center">Change Password</h3>
            </div>
            <div class="panel-body">
              <form #changePassForm="ngForm" (ngSubmit)="onClickChange(changePassForm)">
                <div class="form-group">
                  <input type="password"
                         placeholder="Old Password"
                         name="oldPass"
                         required
                         ngModel
                         #oldPass = "ngModel"
                         class="form-control">
                  <div class="alert alert-danger" *ngIf="oldPass.touched && oldPass.invalid">Old password is required</div>
                </div>
                <div class="form-group">
                  <input type="password"
                         placeholder="New Password"
                         name="newPass1"
                         required
                         ngModel
                         #newPass1="ngModel"
                         pattern="[A-z]*@[0-9]*"
                         class="form-control">
                  <div *ngIf="newPass1.invalid && (newPass1.dirty || newPass1.touched)"
                       class="alert alert-danger">
                    <div *ngIf="newPass1.errors.required">
                      Password is required.
                    </div>
                    <div *ngIf="newPass1.errors.pattern">
                      Password must contain at least one special character and number
                    </div>
                  </div>        </div>
                <div class="form-group">
                  <input type="password"
                         placeholder="Confirm new Password"
                         name="newPass2"
                         required
                         ngModel
                         pattern="[A-z]*@[0-9]*"
                         #newPass2="ngModel"
                         class="form-control">
                  <div *ngIf="newPass2.invalid && (newPass2.dirty || newPass2.touched)"
                       class="alert alert-danger">
                    <div *ngIf="newPass2.errors.required">
                      Password is required.
                    </div>
                    <div *ngIf="newPass2.errors.pattern">
                      Password must contain at least one special character and number
                    </div>
                  </div>
                </div>
                <button class="btn btn-success btn-block" [disabled]="changePassForm.invalid">Change Password</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
  </div>
</div>
