<div class="col-md-9">
  <div class="col-md-3">
    <div class="r3_counter_box">
      <!--<i class="pull-left fa fa-dollar icon-rounded"></i>-->
      <div class="stats">
        <h5><strong>$452</strong></h5>
        <span>Total Users</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="r3_counter_box">
      <!--<i class="pull-left fa fa-laptop user1 icon-rounded"></i>-->
      <div class="stats">
        <h5><strong>$1019</strong></h5>
        <span>Total Hotels</span>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="r3_counter_box">
      <!--<i class="pull-left fa fa-money user2 icon-rounded"></i>-->
      <div class="stats">
        <h5><strong>$1012</strong></h5>
        <span></span>
      </div>
    </div>
  </div>
  <div class="clearfix"> </div>
</div>
