<app-user-header></app-user-header>
<div class="container-fluid" style="background-color: #dddddd; height: 1000px" >
    <h1 align="center" style="background-color: yellow">Congratulation Your Booking Request is Added</h1>
    <h2 align="center">Your Email Id is "{{userService.userData?.email}}" we send you confirmation of booking at this email Id</h2>
    <h2 align="center">Your Contact number is {{userService.userData?.userMobile}}</h2>
    <h3 align="center">if you want to change Email than  <a style="cursor: pointer" (click)="addChangeDialog()">Click here</a></h3>
    <div class="col-md-12">
      <div class="col-md-4"></div>
      <div class="col-md-6">
        <table>
          <tr>
            <th>Check In Date: </th>
            <td>{{checkIn}}</td>
          </tr>
          <tr>
            <th>Check Out Date: &nbsp;</th>
            <td>{{checkOut}}</td>
          </tr>
        </table>
      </div>
      <div class="col-md-4"></div>
    </div>
    <h3 align="center">
      <button class="btn btn-danger" (click)="onCancelBooking()">Cancel Booking</button>
      <button class="btn btn-primary" (click)="onChangeDate()">Change Date</button>
    </h3>
</div>
